<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
        <ul class="cart">
            <% products.forEach(p => { %>
            <li>
                <p><%= p.productData.title %> (<%= p.qty %>)</p>
                <form action="/cart-delete-item" method="POST">
                    <input type="hidden" value="<%= p.productData.id %>" name="productId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </li>
            <% }) %>
            <br>
            <li><h3>Total price: <b>$<%= cart.totalPrice %></b></h3></li>
            <br>
            <li>
                <a href="/products">
                    <button class="btn">Keep Shopping</button>
                </a>
            </li>
        </ul>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>