<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (sales.length > 0) { %>
                    <div class="grid">
                        <% for (let sale of sales) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= sale.title %>
                                    </h1>
                                    <h4> Reviews: <%= sale.review %>/5
                                    </h4>
                                </header>
                                <div class="card__image">
                                    <img src="<%= sale.imageUrl %>" alt="<%= sale.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= sale.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= sale.description %>
                                    </p>
                                    <hr>
                                    <p class="product__description">Call (800) 999-8888 for more information.</p>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Sales Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>